<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900292778021-flegg7aegruju3i39sq2n2v7h5i0ep8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900292778021-flegg7aegruju3i39sq2n2v7h5i0ep8p</string>
	<key>API_KEY</key>
	<string>AIzaSyCkdvE3ynEfwEzuRvKwTkvGjj6K-tl51uA</string>
	<key>GCM_SENDER_ID</key>
	<string>900292778021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.kirimi.sleeplogger</string>
	<key>PROJECT_ID</key>
	<string>sleep-logger-ecf14</string>
	<key>STORAGE_BUCKET</key>
	<string>sleep-logger-ecf14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:900292778021:ios:f5fe18e22648cc5dba87cc</string>
</dict>
</plist>
